<main>
    <h2>Add Cake</h2>

<div>

    <form action="/cakes" method="POST">
        <input type="text" placeholder="Name" name="name"><br>
        <input type="text" placeholder="Description" name="description"><br>
        <input type="number" placeholder="Price" name="price"><br>
        <input type="number" placeholder="Quantity" name="qty"><br>
        <input type="text" placeholder="Image URL" name="img"><br>
        Is this cake Vegan? <input type="checkbox" name='isVegan' value="true"><br>
        <input type="submit" value="Add Cake">
    </form>

</div>


</main>