<main>
	<h2>List of hats</h2>
	<div class="container">
		<div class="row">

			{{#each hats }}
        	<div class="col">
					<a href="/hats/{{ id }}">
                        <img src="{{ img }}" height="200px" >
                    </a>
					<h3>   <a href="hats/{{ id }}">{{ name }}</a>   </h3>
        	</div>
			{{/each}}
        	<div>
		    	<a href="hats/new">Add New Hat</a>
			</div>
        </div>
	</div>
</main>