<main>
    <h2>Add Hat</h2>

<div>

    <form action="/hats" method="POST">
        <input type="text" placeholder="Name" name="name"><br>
        <input type="text" placeholder="color" name="color"><br>
        <input type="text" placeholder="Description" name="description"><br>
        <select name="size">
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
        </select><br>
        <input type="number" placeholder="Price" name="price"><br>
        <input type="number" placeholder="Quantity" name="qty"><br>
        <input type="text" placeholder="Image URL" name="img"><br>
        <input type="submit" value="Add Hat">
    </form>

</div>


</main>