<main>
    <div class="container-fluid">
        <div class="row container-fluid">
            <div class="col">
                <a href="/balloons"><img width="400px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_kAWTwhQIO7wdC_xIhltaUL3pIFQr664yQSTsCITn2dVdBeIt"></a>
            </div>

            <div class="col">
                <a href="/cakes"><img width="400px" src="https://berryworld.imgix.net/assets/BerryWorld-strawberry-Victoria-Sandwich-with-icing-sugar-dusting.jpg?crop=focalpoint&fit=crop&fp-x=0.5&fp-y=0.5&h=1500&q=60&w=2300"></a>
            </div>



            <div class="col">
                <a href="/hats"><img width="400px" src="#"></a>
            </div>
        </div>
    </div>

</main>