<main>
    <div class="container-fluid">
        <div class="row container-fluid">
            <div class="col">
                <a href="/balloons"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_kAWTwhQIO7wdC_xIhltaUL3pIFQr664yQSTsCITn2dVdBeIt"></a>
            </div>

            <div class="col">
                <img href="#" src="#">
            </div>



            <div class="col">
                <img href="#" src="#">
            </div>
        </div>
    </div>

</main>