<main>
    <div class="container-fluid">

        <div class="row text-center ma">
            <div class="col">
                <a href="/balloons"><img width="400px" height="550px" src="{{foundBalloon.img}}"></a>
            </div>

            <div class="col">
                <a href="/cakes"><img width="400px" height="550px" src="{{foundCake.img}}"></a>
            </div>
 
            <div class="col">
                <a href="/hats"><img width="400px" height="550px" src="{{foundHat.img}}"></a>
            </div>
        </div>
    </div>

{{#if admin.isAdmin}}
<footer class="page-footer">
  <ul class="list-unstyled list-inline text-center py-2">
    <h6>ADD NEW</h6>
    <li class="list-inline-item">
        <a href="/balloons/new" class="btn btn-outline-white btn-rounded">Balloon</a>
        <a href="/cakes/new" class="btn btn-outline-white btn-rounded">Cake</a>
        <a href="/hats/new" class="btn btn-outline-white btn-rounded">Hat</a>
        
    </li>
   </ul>
</footer>
{{/if}}

</main>