<main>
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="/balloons"><img width="400px" height="550px" src="https://i.pinimg.com/originals/e4/01/37/e40137914fb028fe8d093efcb9beb5fa.jpg"></a>
                <a href="/balloons">Balloons</a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="/cakes"><img width="400px" height="550px" src="https://i.pinimg.com/originals/01/6c/dc/016cdce6a38820381aea64bf5eafe729.jpg"></a>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="/hats" ><img width="400px" height="550px" src="https://i.pinimg.com/originals/15/cb/1b/15cb1bd1d3e7771b10d7e03e0e804871.jpg"></a>
            </div>
        </div>
    </div>

</main>