<main>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-xs-12  col-md-4">
                <a href="/balloons"><img class="img-fluid" src="{{foundBalloon.img}}"></a>
            </div>

            <div class="col-xs-12  col-md-4">
                <a href="/cakes"><img class="img-fluid" src="{{foundCake.img}}"></a>
            </div>
 
            <div class="col-xs-12 col-md-4">
                <a href="/hats"><img class="img-fluid" src="{{foundHat.img}}"></a>
            </div>
        </div>
    </div>

</main>