<main>
    <h2>Add User</h2>

<div>

    <form action="/user" method="POST">
        <input type="text" placeholder="User Name" name="username"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="submit" class="btn btn-success" value="Add User">
    </form>

</div>


</main>