{{!-- <main>
    <h2>Add User</h2>

<div>

    <form action="/user" method="POST">
        <input type="text" placeholder="User Name" name="username"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="submit" value="Add Hat">
    </form>

</div>


</main> --}}

<main>
    <div class="container-fluid">
        <div class="row text-center padding">
            <div class="col text-center padding">
                <h1>Not Signed UP?</h1>
                <h2>Create New Account</h2>
                <form action="/user" method="POST">
                    <input type="text" placeholder="User Name" name="username"><br>
                    <input type="password" placeholder="Password" name="password"><br>
                    Is this user an admin? <input type="checkbox" name="isAdmin" value="true"><br>
                    <input type="submit" class="btn btn-success" value="Create New User">
                </form>
            </div>
        </div>
    </div>

</main>