<main>
	<h2>List of Balloons</h2>
	<div class="container">
		<div class="row">

			{{#each balloons }}
        	<div class="col">
					<img src="{{ img }}" height="200px" >
					<h3>   <a href="balloons/{{ id }}">{{ name }}</a>   </h3>
        	</div>
			{{/each}}
        	<div>
		    	<a href="balloons/new">Create Balloon</a>
			</div>
        </div>
	</div>
</main>
