<main>
	<h2>List of Balloons</h2>

		{{!-- {{#each balloons }}
        <div>
				<h3>   <a href="{{ id }}">{{ name }}</a>   </h3>
        </div>
		{{/each}}
        <div>
		    <a href="/balloons/new">Create Balloon</a>
        </div> --}}

</main>
