<main>
    <h2>Add Balloon</h2>

<div>

    <form action="/balloons" method="POST">
        <input type="text" placeholder="Name" name="name"><br>
        <input type="text" placeholder="Color" name="color"><br>
        <input type="number" placeholder="Price" name="price"><br>
        <input type="number" placeholder="Quantity" name="qty"><br>
        <input type="text" placeholder="Image URL" name="img"><br>
        <input type="submit" value="Add Balloon">
    </form>

</div>


</main>